#myDialogId { color: blue; }
#xulschoolhello-hello-menu { background: red; }
#main-menubar { color: red; }
#myDialogId { background-color: tan; }
.testclass { background-color: tan; margin-right: 10px; font-weight: bold; }
